* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  margin: 0;
  font-family: Untitled Sans, serif;
  background: black;
}

line {
  stroke: gray;
  stroke-width: 1px;
}

.element {
  fill: white;
}

.testPreview {
  position: absolute;
  top: 0;
  left: 0;
}

.app-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  position: relative;
  z-index: 100;
}