.settings {
    padding: .5rem;
    border-radius: 1px;
    display: block;
    position: absolute;
    width: 12rem;
    top: 1rem;
    right: 1rem;
    mix-blend-mode: exclusion;
}
.setting {
    margin-bottom: 1rem;
    max-width: 100%;
    color: white;
}
label {
    font-size: .9rem;
    display: block;
    margin-bottom: 0rem;
}